// 基础颜色
$menuBg: #304156;
$menuText: #bfcbd9;
$menuActiveText: #409EFF;
$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

// 导出变量给 JS 使用
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
} 